<% if @authentications %>
	<div class="row-fluid">
	  <div class="span4">
		<div class="well sidebar-nav" style="position: relative; z-index: 999">
			<h4>Network channels: <%= @authentications.count %> <a class="btn" href="/auth/google"><i class="icon-plus"></i> Add</a></h4>
			<% unless @authentications.empty? %>
			<div class="authentications">
				<% for authentication in @authentications %>
				<div class="authentication">
					<strong><%= authentication.uid %></strong>: 
					<%= link_to 'refresh', "/network/#{authentication.provider}/#{authentication.id}/refresh" %> 
					<%= link_to '[x]', authentication_path(authentication), :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %><br/>
				</div>
				<% end %>
			</div>
			<% end %>
		</div>
	  </div>
	  <div class="span8">
	  	<% if @mailboxes %>
		  <% unless @mailboxes.empty? %>
			<div id="graph"></div>
			<style>
				#graph {
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: 0;
				}
				circle.node {
					box-shadow: 0 1px 2px rgba(0,0,0,.25);
					stroke: none;
					/*stroke: #d7d7d7;
					stroke-width: 1.5px;*/
				}

				line.link {
					stroke: #d7d7d7;
					/*stroke: #999;
					stroke-opacity: .6;*/
				}

			</style>
			<script>
			$(function(){
				function adjust(){
					setTimeout(function() {
						var viewport_height = $(window).height();
						var viewport_width = $(window).width();
						$("#graph").height(viewport_height).width(viewport_width)
						$("#graph svg").attr('height', viewport_height).attr('width', viewport_width)
					}, 250);
				}
				adjust();
				$(window).resize(function() { adjust() });
			})
			var width = $('#graph').width(), height = $('#graph').height();
			var color = d3.scale.category20();
			var force = d3.layout.force()
				.gravity(.05)
				.distance(150)
				.charge(-150)
				.size([width, height]);
			var svg = d3.select("#graph").append("svg")
				.attr("width", width)
				.attr("height", height);
			d3.json("../network.json", function(json) {
				force
					.charge(function(){ return json.nodes.length * -2 })
					.nodes(json.nodes)
					.links(json.links)
					.start();

				var link = svg.selectAll("line.link")
					.data(json.links)
					.enter().append("line")
					.attr("class", "link")
					.style("stroke-width", function(d) { return 1 /*return d.value * 1.2 /*return Math.sqrt()*/; });

				var node = svg.selectAll("circle.node")
					.data(json.nodes)
					.enter()
					.append("circle")
					.attr("class", "node")
					.attr("mode", "ready")
					.attr("r", function(d) { if (d.email=='dustinlarimer@gmail.com'){ return 12 } else { return 7 } })
					.style("fill", function(d) { if (d.email=='dustinlarimer@gmail.com'){ return '#555' } else { return '#999' } })
					.style("opacity", function(d){ return d.freq * .1 })
					//return color(d.mailbox_id); })
					.call(force.drag)
					.on("mouseover", function(d){})
					.on("mouseout", function(d){})
					.on("click", function(d){
						if (this.getAttribute('mode')=="ready"){
							this.setAttribute('mode', 'active');
							this.setAttribute('r', 20);
						} else {
							this.setAttribute('mode', 'ready');
							this.setAttribute('r', 10);
						}
						//alert(this.getAttribute('r'));
					});
				node.append("title").text(function(d) { return d.email + " (" + d.freq + " instances)"; });
				//node.append("text").text(function(d) { return d.email });
				
				/*function toggle(mode) {
					return function(d) {
						if (mode){
							node.attr("r", function(){
								newRadius = 20
								this.setAttribute('r', newRadius);
								return newRadius;
							});
						} else {
							node.attr("r", function(){
								newRadius = 7
								this.setAttribute('r', newRadius);
								return newRadius;
							})
						}
					};
				}*/

				force.on("tick", function() {
					link
						.attr("x1", function(d) { return d.source.x; })
						.attr("y1", function(d) { return d.source.y; })
						.attr("x2", function(d) { return d.target.x; })
						.attr("y2", function(d) { return d.target.y; });

					node
						.attr("cx", function(d) { return d.x; })
						.attr("cy", function(d) { return d.y; });
				});
			});

			</script>
		    <div class="authentications" style="display: none;">
		      <% for mailbox in @mailboxes %>
		        <div class="authentication">
		          <strong><%= mailbox.email %></strong> (<%= mailbox.messages.count %> messages)<br/>
				  <ul>
				  <% for message in mailbox.messages %>
					<li>From: <%= message.from.email %></li>
				  <% end %>
				  </ul>
		        </div>
		      <% end %>
		    </div>
		  <% end %>
		<% else %>
			<h1>Mailboxes: 0</h1>
		<% end %>
	  </div>
	</div>


	
  
<% else %>
	<h1>Authentications: 0</h1>
	Because current_user not found :(
<% end %>